html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.fleft,
.label,
.data,
.shortcut {
  float: left;
}

.label {
  width: 150px
}

.label,
.data,
.shortcut {
  margin: 10px;
  font-family: monospace;
}